<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta property="og:title" content="{{titulo}}" />
	<title>{{titulo}}</title>

	{% include 'style.css.twig' %}
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

<center>

<table border="0" cellpadding="10" cellspacing="0" height="100%" width="100%"
	class="main">

	<tr>
		<td align="center" valign="top">
			<table border="0" cellpadding="10" cellspacing="0" width="600"
				class="container">

				<!-- container-row header -->
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="600"
							class="header">

							<tr>
								<td class="banner">
									<img src="{{banner}}" id="headerImage"
										title="{{titulo}}" alt="{{titulo}}" />
								</td>
							</tr>

						</table>
					</td>
				</tr>


				<!-- container-row secciones -->
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="600"
							id="secciones">

							{% for seccion in secciones %}
								{% block seccion %}
									{% include 'seccion.html.twig' %}
								{% endblock %}
							{% endfor %}

						</table>
					</td>
				</tr>


				<!--  container-row footer -->
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="600"
							id="footer">

							{% block footer %}
								{% include 'footer.html.twig' %}
							{% endblock %}

						</table>
					</td>
				</tr>

			</table>

		</td>
	</tr>
</table>

</center>
</body>

</html>
